<blockquote>
<blockquote>
<p>"Software engineering is the establishment and use of sound engineering principles in order to obtain economically software that is reliable and work efficiently on real machines." 
    - Fritz Bauer, German Computer Scientist</p>
<p>"Software engineering is the process of analyzing user needs and designing, constructing, and testing end user applications that will satisfy these needs through the use of software programming languages. It is the application of engineering principles to software development. In contrast to simple programming, software engineering is used for larger and more complex software systems, which are used as critical systems for businesses and organizations."
    - Techopedia</p>
<p>"Software engineering is the process of building a software system through the use of structured teamwork and communication. The end result should be a usable product for either public or private means."
    - Nick Tope</p>
</blockquote>
</blockquote>