{% extends "base.html" %}

{% block title %}Select Markdown File to Upload{% endblock title %}
{% block content %}
    <script type="text/javascript">
            function getFileInput(evt) {
                var files = document.getElementById('filePath').files;
                if (!files.length) {
                    alert('Please select a file!');
                    return;
                }
                var file = files[0];
                var myReader = new FileReader();
                myReader.readAsText(file);
                myReader.onload = function(event){
                    document.getElementById('fileInput').setAttribute('value', event.target.result);
                }
            }
        </script>
    {% if pages %}
        <form method="POST">
            <tr>
                    {{ input(form.url, placeholder="URL of the new page", autocomplete="off") }}
                    {{ input(form.title, placeholder="Title", class="span7", autocomplete="off") }}
			        {{ input(form.tags, placeholder="Tags (comma separated)", class="span7", autocomplete="off") }}
            </tr>
            <input type="file" id="filePath" name="filePath" accept=".md" class="btn btn-success pull-left" onchange="getFileInput(event)">
            <input type="submit" class="btn btn-success pull-right" value="Submit">
            <input type="hidden" id="fileInput" name="fileInput" value="">
        </form>
    {% else %}
        <p>There are no pages yet.</p>
    {% endif %}
{% endblock content %}

{% block sidebar %}
    <ul class="nav nav-tabs nav-stacked">
	    <li><a href="{{ url_for('wiki.create') }}">New Page</a></li>
	    <li><a href="{{ url_for('wiki.tags') }}">Tag List</a></li>
	    <li><a href="{{ url_for('wiki.search') }}">Search</a></li>
    </ul>
{% endblock sidebar %}